@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Roboto";
}
.section
{
    width: 100%;
}
.container
{
    width: 70%;
    margin: auto;
}
.navbar-section
{
    background-color: #1F2937;
    height: 70px;
}
.navbar{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.logo
{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar ul li a
{
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 20px;
}
a{
    text-decoration: none;
}

.hero-section
{
    background-color: #1F2937;
    /* height: 500px; */
    align-items: center;
    padding: 120px 0px;
}
.hero
{
    height: 100%;
    /* background-color: #083288; */
    display: flex;
    flex-direction: row;
}
.hero-text
{
    width: 50%;
    padding-right: 5px;
}
.hero-text-heading
{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-bottom: 7px;
}
.hero-text-subheading
{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 15px;
}
.hero-img
{
    width: 50%;
    background-color: #E5E7EB;   
    text-align: center;
}
.hero-img-placeholder
{
    position: relative;
    top: 45%;
}

.btn{
    margin-top: 5px;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 7px 25px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
}

.info-section
{
    /* height: 400px; */
    align-items: center;
    padding: 40px 0px;
    /* background-color: #556d94; */
}
.info
{
    display:  flex;
    flex-direction: column;
    align-items: center;
}
.info-title
{
    align-self: center;
    justify-self: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    margin-bottom: 40px;
}
.info-card-container
{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 60px;
    
}
.card
{
    align-self: center;
    justify-self: center;
    width: 180px;
    text-align: center;
}
.card-img
{
    width: 180px;
    height: 180px;
    border: solid 4px #3882F6;
    border-radius: 10px;
}
.card-info
{
    font-size: 18px;
    color: #6D747D;
    font-weight: 400;
}

.quote-section
{
    background-color: #E5E7EB;
}
.quote-section-text
{
    padding: 120px 80px;
}
.quote
{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
.quote-author{
    font-size: 18px;
    font-weight: 800;
    color: #1F2937;
    text-align: right;
}

.CTA-section
{
    align-items: center;
}
.CTA
{
    background-color: #3882F6;
    border-radius: 6px;
    margin: 70px 0px;
    padding: 45px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.CTA-Heading{
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}
.CTA-subheading
{
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
}
.CTA-btn
{
    border:solid 2px white;
    border-radius: 7px;
    padding: 5px 30px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
}

.footer-section
{
    background-color: #1F2937;
    /* height: 500px; */
    align-items: center;
    padding: 30px 0px;
    text-align: center;
}
.footer-text
{
    font-size: 18px;
    color: #E5E7EB;
}